*{
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
	text-align: center;
	background-image: url("http://www.animateit.net/data/media/june2010/animated_60.gif");
	background-repeat: repeat;
}

#nav{
	font-size: 40px;
	font-weight: 10px;
}
#nav, #feature, .article, #footer{
	background-color: #efefef;
	margin-top: 20px;
	padding: 10px 0px 5px 0px;
}

#feature, .article{
	height: 100px;
}

li{
	display: inline;
	padding: 5px;
}